[Unit]
Description=Mailbox synchronization timer

[Timer]
OnCalendar=*-*-* 00/2:00:00
Persistent=true
Unit=mbsync@%i.service

[Install]
WantedBy=timers.target
