[github]
  user = fishman
[color]
  ui = true
[user]
  editor = vim
[imap]
  folder = "INBOX.patches"
  host = imaps://imap.gmx.net
  sslverify = no
[merge]
  tool = vimdiff
[alias]
  wup = log -p origin..@{0}
  wu = log --stat origin..@{0}
  st = status
  up = !sh -c \"git stash && git pull --rebase && git stash apply\"
  ; su = !sh -c \"git stash && git svn rebase && git stash apply\"
  su = svn rebase
  mergehub = !sh -c \"git stash && git fetch github && git merge github/master && git stash apply\"
  sci = !sh -c \"git stash && git svn dcommit && git stash apply\"
  log1 = log --pretty=oneline --abbrev-commit
  rlog = log --pretty=format:\"%h %Cblue%cr%Creset %cn %Cgreen%s%Creset\"
  glog = log --pretty=format:'%h : %s' --graph
  top = !eval cd "$(pwd)/$(git rev-parse --show-cdup)" && pwd
  cat   = -p cat-file -p
  push-head = !git-push origin `git-symbolic-ref HEAD`
  vgc = repack -f -a -d --depth=250 --window=250
  nvgc = !ionice -n7 nice -n20 git vgc
  kill1 = rebase -i HEAD~1
  forcep = push origin +master

