[submodule "awesome/3/mac/wicked"]
	path = awesome/3/mac/wicked
	url = git://github.com/fishman/wicked.git
[submodule "awesome/3/linux/wicked"]
	path = awesome/3/linux/wicked
	url = git://git.glacicle.com/awesome/wicked.git
[submodule "powerline"]
	path = powerline
	url = git://github.com/Lokaltog/powerline
[submodule "urxvt/urxvt-font-size"]
	path = urxvt/urxvt-font-size
	url = https://github.com/majutsushi/urxvt-font-size
